 @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "./variables";
@import "./styles";


.admin-blockers{
  .blocker-item{
    .blocker-meta{
      font-size: 80%;
      border-top:1px solid $border-color ;
      border-bottom:1px solid $border-color ;
      padding: 5px 0;
      margin-top: 10px;

      span{
        margin-right: 10px;
        //max-width: 110px;
        display: inline-block;
        &:last-child{
          margin-right: 0;
        }
      }
    }
    margin-bottom: 20px;
  }

}

 .filter-title{
   font-size: 14px;
   color: #000 !important;
 }

 .team-reports{
   .panel-heading{
     //&:nth-child(1){
     //  background-color: #f44336;
     //  color: #fff;
     //}
   }
 }

 .blockers{
   .panel-heading{
     //background-color: #f44336;
     //color: #fff;
   }
 }

 .show-more-blockers {
   font-weight: 700;
   color: red;
 }

 th.table-header {
   vertical-align: middle !important;
   transform: rotate(270deg);
   overflow: visible;
   height: 170px !important;
   text-align: center;
   width: 100px;

 }

 .inside-table{
   padding: 0;
 }
 .person-name{
   width: 200px;
   text-align: center;
   vertical-align: middle !important;
 }
 .person-task{
   text-align: left;
 }
 .v-middle{
   vertical-align: middle !important;
 }

.pagination{
  display: table;
  margin: 0 auto;
}
 a.generate-report-btn {
   background: red;
   color: #fff !important;
   padding: 7px 10px !important;
   margin: 8px;
   border-radius: 5px;

   &:hover{
     background: darken(red, 10%) !important;;
     color: #fff !important;
   }
 }
 .navbar-brand{
   font-weight: 900;
 }
 .top-nav{
   //margin-top:20px;
 }
 .team-selection{
   height: 350px !important;
   }

 .blocker-area{
   display: none;
   }