 @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "./variables";
@import "./styles";


.admin-blockers{
  .blocker-item{
    .blocker-meta{
      font-size: 80%;
      border-top:1px solid $border-color ;
      border-bottom:1px solid $border-color ;
      padding: 5px 0;
      margin-top: 10px;

      span{
        margin-right: 10px;
        //max-width: 110px;
        display: inline-block;
        &:last-child{
          margin-right: 0;
        }
      }
    }
    margin-bottom: 20px;
  }

}

 .filter-title{
   font-size: 14px;
   color: #000 !important;
 }

 .team-reports{
   .panel-heading{
     //&:nth-child(1){
     //  background-color: #f44336;
     //  color: #fff;
     //}
   }
 }

 .blockers{
   .panel-heading{
     //background-color: #f44336;
     //color: #fff;
   }
 }